.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  /* background: linear-gradient(135deg, #f0f4f8, #e0e7ff); */
  height: auto;

  /* padding: 20px; */
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-title {
  font-family: 'Arial', sans-serif;
  color: #444;
  margin-bottom: 20px;
}

.form-table-container {
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  padding: 10px;
}

.form-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px; /* Adds space between rows */
}

.form-table th {
  text-align: center;
  height: 50px;
  padding: 15px;
  color: rgb(121, 121, 180);
  font-weight: 600;
}

.form-table td {
  padding: 15px;
  /* color: #555;*/
  color: #00000067;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.form-row {
  border-radius: 15px;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.form-cell {
  border-right: 2px solid black;
}

.form-cell:last-child {
  border-right: none;
}

.action {
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.action:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .form-table-container {
    padding: 10px;
    width: 95%;
  }

  .form-table th, .form-table td {
    font-size: 12px;
    padding: 10px;
  }
}
