.HR_header .breadcrumb {
    font-family: var(--mantine-font-family-monospace);
    font-size: 20px;
    font-weight: normal !important;
    margin-bottom: 30px;
  }

  .HR_header{
    margin-bottom: -10px;
    padding-bottom: 0;
  }
  .HR_header .active-tab {
    color: #6c6cc5 !important;
    border-color: #7878AB !important;
    border-bottom: 2px solid #7878AB !important;
  }
  
  