.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it's on top of other elements */
    overflow: hidden;
  }
  
  /* Modal container */
  .modal {
    position: fixed;
    inset-block-start: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    margin-top: 5px;
    /* margin-bottom: px; */
    max-height: 80vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Ensure it's above the overlay */
    overflow-y: auto;
  }
  
  /* Close button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }