
.fusionText {
    font-size: 1rem;
    @media (min-width: $mantine-breakpoint-md) {
        font-size: 1.5rem;
    }
}

.fusionCaretCircleIcon {
    font-size: 2rem;
    @media (min-width: $mantine-breakpoint-md) {
        font-size: 1.5rem;
    }
}

.fusionCaretIcon {
    font-size: 1rem;
    @media (min-width: $mantine-breakpoint-md) {
        font-size: 1.25rem;
    }
}

.fusionActiveRecentTab {
    background-color: #e3f1f1;
}

.fusionTabsContainer {
    flex-shrink: 1;
    max-width: 80vw;
    overflow-x: auto;
    -ms-overflow-style: none;
}

.fusionTabsContainer::-webkit-scrollbar {
    display: none;
}