.paperContainer {
  padding: 20px;
}

.paperContainer h1 {
  font-size: 26px;
}
.moduleDescription {
  margin-top: 20px;
  font-size: 18px;
}

.slidesContainer {
  margin-top: 20px;
}

.slideItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.customButton {
  background-color: #007bff;
  color: white;
  font-weight: 500;
}

.customButton:hover {
  background-color: #0056b3;
}
