
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
.Leave_container {
    width: 130%;
    padding: 25px;
    box-sizing: border-box;
    padding-bottom: 0;
    margin-bottom: 0;
    /* padding-right: 1px; */
    /* shadow to look good
     */

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;  

  }
  
  .Leave_container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .Leave_container .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .Leave_container .grid-section.full-width {
    grid-template-columns: 1fr;
  }
  
  .grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .Leave_container .grid-row.three-cols {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .Leave_container .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    ;
  }
  
  .Leave_container .input-wrapper input,
  .Leave_container .select {
    width: 100%;
    padding: 8px 14px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    color:black !important;
  }
  
  .Leave_container .input-wrapper input {
    padding-left: 50px;
    color: #000 !important;
    
  }
  
  .Leave_container .input-wrapper input:focus,
  .Leave_container .select:focus {
    border-color: #9a9da1;
    outline: none;
  }
  
  .Leave_container .footer-section {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: -5px;
    margin-right: -25px;
  }
  
  .Leave_container .username-input,
  .Leave_container .designation-input {
    width: 100%;
  }
  
  .Leave_container .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .Leave_container .center {
    justify-content: center;
  }
  


  
  /* change option hover and focus color
   */
    .Leave_container .select option:hover,
    .Leave_container .select option:focus {
      background-color: #f1f1f1;
    }


  
  
  /* For responsiveness */
  @media (max-width: 768px) {
    .Leave_container .grid-section,
    .Leave_container .grid-row {
      grid-template-columns: 1fr;
    }
  
    .Leave_container {
      width: 90%; /* Adjust the width for smaller screens */
    }
  
    .Leave_container .footer-section {
      flex-direction: column;
      align-items: stretch;
    }
  }
  