/* File: src/components/LeaveForm.module.css */

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submitButton {
  background-color: #1a73e8;
  color: white;
}

.inputIcon {
  color: #1a73e8;
}

.inputField {
  margin-bottom: 16px;
}

.inputField input,
.inputField textarea,
.inputField select {
  padding-left: 2.5rem; /* Add space for the icon */
}

.inputField .mantine-TextInput-wrapper,
.inputField .mantine-Select-wrapper,
.inputField .mantine-DateInput-wrapper {
  position: relative;
}

.inputField .mantine-TextInput-wrapper .mantine-Input-input,
.inputField .mantine-Select-wrapper .mantine-Input-input,
.inputField .mantine-DateInput-wrapper .mantine-Input-input {
  padding-left: 2.5rem;
}

.inputField .mantine-TextInput-wrapper .mantine-Input-icon,
.inputField .mantine-Select-wrapper .mantine-Input-icon,
.inputField .mantine-DateInput-wrapper .mantine-Input-icon {
  left: 1rem;
}

.inputField .mantine-TextInput-wrapper .mantine-Input-icon svg,
.inputField .mantine-Select-wrapper .mantine-Input-icon svg,
.inputField .mantine-DateInput-wrapper .mantine-Input-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #1a73e8;
}